**/*.swp
**/*.bak
**/*.old
urxvt/.urxvt/themes/base16-xresources/
vim/.vim/pack/git-plugins/
geany/.config/geany/colorschemes/
weechat/.weechat/*/
weechat/.weechat/*.log
weechat/.weechat/sec.conf
weechat/.weechat/irc.conf
